{% extends "issuesdb/changelist_base.html" %}
{% load static %}


{% block table_headers %}
    {{ block.super }}
    <th></th>
    <th></th>
    <th></th>
{% endblock %}


{% block table_filters %}
  {{ block.super }}
  <th class="filters"></th>
  <th class="filters"></th>
  <th class="filters"></th>
{% endblock %}

{% block columns %}
    <colgroup>
        <col width="25px" />
        {% for field_name in fields %}
        <col />
        {% endfor %}
        <col width="50px" />
        <col width="50px" />
        <col width="50px" />
    </colgroup>
{% endblock %}

{% block changelist_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'issuesdb/js/overrides/project/changelist.js' %}" charset="utf-8"></script>
{% endblock %}
